Feature request: implicit vs. explicit TA database; id-kp-cmcRA and "Trusted CA Indication" in client

For the server: 

Add the distinction between Explicit TA database and Implicit TA database, as this is required according to RFC 7030, section 3.3.2:
   The server validates the TLS client certificate using the EST server
   Explicit and, if enabled, Implicit TA database(s).  The server MUST
   maintain a distinction between the use of Explicit and Implicit TA
   databases during authentication in order to support proper authorization.

For the client: 

Add the distinction between Explicit TA database and Implicit TA database, as this is required according to RFC 7030, section 3.3.1:
   The client validates the TLS server certificate using the EST client
   Explicit and, if enabled, Implicit TA database(s).  The client MUST
   maintain a distinction between the use of Explicit and Implicit TA
   databases during authentication in order to support proper authorization.

Add id-kp-cmcRA support in est_client_check_fqdn(), making use of the distinction between Explicit TA database and Implicit TA database.

Add the "Trusted CA Indication" according to RFC 7030, section 4.1.3:
   The EST client MUST store the extracted EST CA certificate as an
   Explicit TA database entry for subsequent EST server authentication.
   The EST client SHOULD disable use of Implicit TA database entries for
   this EST server now that an Explicit TA database entry is available.
   If the client disables the Implicit TA database, and if the EST
   server certificate was verified using an Implicit TA database entry,
   then the client MUST include the "Trusted CA Indication" extension in
   future TLS sessions [RFC6066].  This indicates to the server that
   only an EST server certificate authenticatable by the Explicit TA
   database entry is now acceptable (otherwise, the EST server might
   continue to use a server certificate that is only verifiable by a now
   disabled Implicit TA).

Still have not seen a pull request with this feature.  Closing issue for now.

Unfortunately, this enhancement is  later on our priority list; we're going to tackle it after my other changes, submitted on March 20th, have been merged into the main trunk.